<div class="signup">
  <h2>Sign Up</h2>
  <form [formGroup]="signupForm" (submit)="signUp()">
    <mat-form-field>
      <mat-label for="email">Email</mat-label>
      <input type="email" name="email" formControlName="email" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="password">Password</mat-label>
      <input type="password" name="password" formControlName="password" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label for="confirm">Confirm Password</mat-label>
      <input input type="password" name="confirm" formControlName="confirm" matInput>
    </mat-form-field>
    <button type="submit" mat-button>
      Sign up
    </button>
    <a routerLink="/login">Already registered? Click to Login!!</a>
  </form>
</div>
